<div class="container staff-container py-2">
  <!-- Consultar empleados header -->
  <div class="row">
    <div class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-start">
      <span>Consultar Empleados</span>
    </div>
    <div class="col-12 col-md">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar empleado"
          aria-label="Buscar empleado"
          aria-describedby="buscar-empleado"
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          id="buscar-empleado"
        >
          Search
        </button>
        <button
          class="btn btn-outline-secondary"
          type="button"
          id="buscar-empleado2"
        >
          Filter
        </button>
      </div>
    </div>
  </div>

  <!-- Consultar empleado content -->
  <div class="row table-container my-3">
    <table class="table" aria-labelledby="details">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Email</th>
          <th scope="col">Contraseña</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Sueldo</th>
          <th scope="col">Fecha de nacimiento</th>
          <th scope="col">Fecha de contratación</th>
          <th scope="col">Sexo</th>
          <th scope="col">Rol</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>xxxx</td>
          <td>xxxx xxx</td>
          <td>@xxxxx xxxx</td>
          <td>xxxxx@xxxx.xxx</td>
          <td>xxxxxxx</td>
          <td>@xxxxxxxxxx</td>
          <td>xx,xxx.xx</td>
          <td>xx/xx/xxxx</td>
          <td>xx/xx/xxxx</td>
          <td>xxxxxxxxx</td>
          <td>xxxxxxxx</td>
        </tr>
        <tr>
          <td>xxxx</td>
          <td>xxxx xxx</td>
          <td>@xxxxx xxxx</td>
          <td>xxxxx@xxxx.xxx</td>
          <td>xxxxxxx</td>
          <td>@xxxxxxxxxx</td>
          <td>xx,xxx.xx</td>
          <td>xx/xx/xxxx</td>
          <td>xx/xx/xxxx</td>
          <td>xxxxxxxxx</td>
          <td>xxxxxxxx</td>
        </tr>
        <tr>
          <td>xxxx</td>
          <td>xxxx xxx</td>
          <td>@xxxxx xxxx</td>
          <td>xxxxx@xxxx.xxx</td>
          <td>xxxxxxx</td>
          <td>@xxxxxxxxxx</td>
          <td>xx,xxx.xx</td>
          <td>xx/xx/xxxx</td>
          <td>xx/xx/xxxx</td>
          <td>xxxxxxxxx</td>
          <td>xxxxxxxx</td>
        </tr>
        <tr>
          <td>xxxx</td>
          <td>xxxx xxx</td>
          <td>@xxxxx xxxx</td>
          <td>xxxxx@xxxx.xxx</td>
          <td>xxxxxxx</td>
          <td>@xxxxxxxxxx</td>
          <td>xx,xxx.xx</td>
          <td>xx/xx/xxxx</td>
          <td>xx/xx/xxxx</td>
          <td>xxxxxxxxx</td>
          <td>xxxxxxxx</td>
        </tr>
        <tr>
          <td>xxxx</td>
          <td>xxxx xxx</td>
          <td>@xxxxx xxxx</td>
          <td>xxxxx@xxxx.xxx</td>
          <td>xxxxxxx</td>
          <td>@xxxxxxxxxx</td>
          <td>xx,xxx.xx</td>
          <td>xx/xx/xxxx</td>
          <td>xx/xx/xxxx</td>
          <td>xxxxxxxxx</td>
          <td>xxxxxxxx</td>
        </tr>
        <tr>
          <td>xxxx</td>
          <td>xxxx xxx</td>
          <td>@xxxxx xxxx</td>
          <td>xxxxx@xxxx.xxx</td>
          <td>xxxxxxx</td>
          <td>@xxxxxxxxxx</td>
          <td>xx,xxx.xx</td>
          <td>xx/xx/xxxx</td>
          <td>xx/xx/xxxx</td>
          <td>xxxxxxxxx</td>
          <td>xxxxxxxx</td>
        </tr>
        <tr>
          <td>xxxx</td>
          <td>xxxx xxx</td>
          <td>@xxxxx xxxx</td>
          <td>xxxxx@xxxx.xxx</td>
          <td>xxxxxxx</td>
          <td>@xxxxxxxxxx</td>
          <td>xx,xxx.xx</td>
          <td>xx/xx/xxxx</td>
          <td>xx/xx/xxxx</td>
          <td>xxxxxxxxx</td>
          <td>xxxxxxxx</td>
        </tr>
        <tr>
          <td>xxxx</td>
          <td>xxxx xxx</td>
          <td>@xxxxx xxxx</td>
          <td>xxxxx@xxxx.xxx</td>
          <td>xxxxxxx</td>
          <td>@xxxxxxxxxx</td>
          <td>xx,xxx.xx</td>
          <td>xx/xx/xxxx</td>
          <td>xx/xx/xxxx</td>
          <td>xxxxxxxxx</td>
          <td>xxxxxxxx</td>
        </tr>
        <tr>
          <td>xxxx</td>
          <td>xxxx xxx</td>
          <td>@xxxxx xxxx</td>
          <td>xxxxx@xxxx.xxx</td>
          <td>xxxxxxx</td>
          <td>@xxxxxxxxxx</td>
          <td>xx,xxx.xx</td>
          <td>xx/xx/xxxx</td>
          <td>xx/xx/xxxx</td>
          <td>xxxxxxxxx</td>
          <td>xxxxxxxx</td>
        </tr>
        <tr>
          <td>xxxx</td>
          <td>xxxx xxx</td>
          <td>@xxxxx xxxx</td>
          <td>xxxxx@xxxx.xxx</td>
          <td>xxxxxxx</td>
          <td>@xxxxxxxxxx</td>
          <td>xx,xxx.xx</td>
          <td>xx/xx/xxxx</td>
          <td>xx/xx/xxxx</td>
          <td>xxxxxxxxx</td>
          <td>xxxxxxxx</td>
        </tr>
        <tr>
          <td>xxxx</td>
          <td>xxxx xxx</td>
          <td>@xxxxx xxxx</td>
          <td>xxxxx@xxxx.xxx</td>
          <td>xxxxxxx</td>
          <td>@xxxxxxxxxx</td>
          <td>xx,xxx.xx</td>
          <td>xx/xx/xxxx</td>
          <td>xx/xx/xxxx</td>
          <td>xxxxxxxxx</td>
          <td>xxxxxxxx</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
