<div class="container mt-3">
  <table class="table table-striped table-bordered">
    <!-- header -->
    <thead>
      <tr>
        <th>Platos</th>
      </tr>
    </thead>
    <!-- Body -->
    <tbody>
      <!-- 1 -->
      <tr>
        <td>
          <ul class="gallery platos">
            <li style="background-image: url('../../../assets/img/platos-cristal-rosa.jpeg');  background-size:250%; background-position-y: center;" ></li>
            <li style="background-image: url('../../../assets/img/platos-cristal-dorado.jpeg');  background-size:190%; background-position-y:center;" ></li>
            <li style="background-image: url('../../../assets/img/platos-Cristalino-filoDorado-dorado.jpeg');  background-size:250%; background-position-y:center;" ></li>
            <li style="background-image: url('../../../assets/img/platos-Cristalino_filoDorado-plateado.jpeg');  background-size:250%; background-position-y:center;" ></li>
            <li style="background-image: url('../../../assets/img/Platos-grecas-celeste.jpeg');  background-size:250%; background-position-y:center;" ></li>
            <li style="background-image: url('../../../assets/img/Platos-grecas-lila.jpeg');  background-size:250%; background-position-y:center;" ></li>  
            <li style="background-image: url('../../../assets/img/Platos-grecas-chocolate.jpeg');  background-size:250%; background-position-y:center;" ></li>
            <li style="background-image: url('../../../assets/img/Platos-grecas-negro.jpeg');  background-size:250%; background-position-y:center;" ></li>
            <li style="background-image: url('../../../assets/img/Platos-grecas-rosa.jpeg');  background-size:250%; background-position-y:center;" ></li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table> 
  <table class="table table-striped table-bordered">
    <!-- header -->
    <thead>
      <tr>
        <th>Copas</th>
      </tr>
    </thead>
    <!-- Body -->
    <tbody>
      <!-- 1 -->
      <tr>
        <td>
          <ul class="gallery platos">
            <li style="background-image: url('../../../assets/img/copa-chanpange-dorado.jpeg');  background-size:140%; background-position-y: center; background-position-x: center;" ></li>
            <li style="background-image: url('../../../assets/img/copa-chanpange-transparente.jpeg');  background-size:140%; background-position-y: center; background-position-x: center;" ></li>
            <li style="background-image: url('../../../assets/img/copa-florencia-blanca.jpeg');  background-size:140%; background-position-y: center; background-position-x: center;;" ></li>
            <li style="background-image: url('../../../assets/img/copa-florencia-negra.jpeg');  background-size:140%; background-position-y: center; background-position-x: center;;" ></li>
            <li style="background-image: url('../../../assets/img/copa-hobstobar-cafe.jpeg'); background-size:140%; background-position-y: center; background-position-x: center;;" ></li>
            <li style="background-image: url('../../../assets/img/copa-hobstobar-celeste.jpeg'); background-size:140%; background-position-y: center; background-position-x: center;;" ></li>
            <li style="background-image: url('../../../assets/img/copa-hobstobar-cian.jpeg'); background-size:140%; background-position-y: center; background-position-x: center;;" ></li>
            <li style="background-image: url('../../../assets/img/copa-libia-dorada.jpeg'); background-size:140%; background-position-y: center; background-position-x: center;;" ></li>
            <li style="background-image: url('../../../assets/img/copas-globo-rosa-transparente.jpeg'); background-size:140%; background-position-y: center; background-position-x: center;;" ></li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table table-striped table-bordered">
        <!-- header -->
        <thead>
          <tr>
            <th>Sillas</th>
          </tr>
        </thead>
        <!-- Body -->
        <tbody>
          <!-- 1 -->
          <tr>
            <td>
              <ul class="gallery carrusel">
                <li style="background-image: url('../../../assets/img/Silla-jardin.jpeg');  background-size:250%; background-position-y: center;" ></li>
                <li style="background-image: url('../../../assets/img/silla-negra-cata.jpg');  background-size:190%; background-position-y:center;" ></li>
                <li style="background-image: url('../../../assets/img/silla-plastico-cata.jpg');  background-size:250%; background-position-y:center;" ></li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-striped table-bordered">
        <!-- header -->
        <thead>
          <tr>
            <th>Mesas</th>
          </tr>
        </thead>
        <!-- Body -->
        <tbody>
          <!-- 1 -->
          <tr>
            <td>
              <ul class="gallery mesas">
                <li style="background-image: url('../../../assets/img/Mesa-Imperial.png');  background-size:250%; background-position-y: center;" ></li>
                <li style="background-image: url('../../../assets/img/Mesa-Tablon-Rectangular.png');  background-size:190%; background-position-y:center;" ></li>
                <li style="background-image: url('../../../assets/img/Mesa_Redonda.png');  background-size:250%; background-position-y:center;" ></li>
             </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-striped table-bordered">
        <!-- header -->
        <thead>
          <tr>
            <th>
              Servilletero</th>
          </tr>
        </thead>
        <!-- Body -->
        <tbody>
          <!-- 1 -->
          <tr>
            <td>
              <ul class="gallery servilleteros">
                <li style="background-image: url('../../../assets/img/portaServilletas-espiral.jpeg');  background-size:120%; background-position-y: center;" ></li>
                <li style="background-image: url('../../../assets/img/portaServilletas-perlas.jpeg');  background-size:120%; background-position-y:center;" ></li>
                <li style="background-image: url('../../../assets/img/portaServilletas-pino.jpeg');  background-size:120%; background-position-y:center;" ></li>
                </ul>
            </td>
          </tr>
        </tbody>
      </table> 
</div>
<app-footer></app-footer>