<div class="container">
    <!-- IMAGEN PORTADA -->
    <div class="portada">
      <table class="mx-4">
        <tbody class="">
          <tr>
            <td class="text-dark">
              <h2 class="font-weight-bold mt-4 text-light">Renta de <br> MOBILIARIOS PARA FIESTAS Y EVENTOS <br> EN CULIACÁN, SINALOA.</h2></td>
          </tr>
        </tbody>
      </table>    
    </div>
    <!-- Carousel -->
    <table class="table table-striped table-bordered mt-4">
      <!-- header -->
      <thead>
        <tr>
          <th>Variedad de elementos para tus eventos</th>
        </tr>
      </thead>
      <!-- Body -->
      <tbody>
        <!-- 1 -->
        <tr>
          <td>
            <ul class="gallery sillas">
              <li style="background-image: url('../../../assets/img/carru-3.jpg');  background-size:250%; background-position-y: center; background-position-x: center;" ></li>
              <li style="background-image: url('../../../assets/img/carru-2.png');  background-size:190%; background-position-y:center; background-position-x: center;" ></li>
              <li style="background-image: url('../../../assets/img/carru-1.jpeg');  background-size:250%; background-position-y:center;" ></li>
              <li style="background-image: url('../../../assets/img/carru-4.jpg');  background-size:250%; background-position-y:center;" ></li>
            
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    
    <!-- Información -->
    <hr class="m-5">
    <div class="row">
      <div class="col m-1 bg-img" id="col-imagen">
        
      </div>
      <div class="col m-1 p-5" id="col-texto">
        <div class="row m-1" id="row-texto-1">
          <h1 class="font-weight-bold">Acerca de Diversiones Fantasy</h1><br>
             <span>¡Que no falte nada en tu evento! Llama a Diversiones Fantasy... para que llevemos todo lo que necesitas. Somos una empresa que te ofrece la renta de mobiliario para fiestas en Culiacán, Sinaloa con la mejor calidad y la puntualidad que nos caracteriza. Si buscas un servicio seguro y de confianza para tus eventos sociales no dudes en llamarnos.</span>
        </div>
        <div class="row m-1" id="row-texto-2"> 
          <h1 class="font-weight-bold">Diversines Fantasy... es sinónimo de experiencia y servicio</h1><br>
          <span>uestro personal está a tu disposición para brindarte todo el mobiliario que requieras. Estamos altamente calificados para atenderte de la manera que mereces con un servicio a la altura de tus expectativas.
            Contamos con la renta de mesas y sillas jardinera, Tiffany y acojinada, entre otros. También contamos con mesas redondas y rectangulares, así como brincolines para que los pequeños se diviertan.            
            Diversiones Fantasy... te da la calidad de mobiliario más alta de la región, así que no dudes en contactarnos y con mucho gusto te podremos dar una cotización. Recuerda que en la renta de mobiliario para fiestas nadie se compara con nosotros.
            Contáctanos a través de nuestros números telefónicos para atenderte.</span>
       </div>
      </div>
    </div>
</div>
<app-footer></app-footer>